@media (min-width: 320px) and (max-width: 767px) {
  .dns-vertical-line {
    display: none;
  }

  .navbar-light .navbar-toggler {
    border: none;
    margin-right: 0px;
  }

  .navbar-light .navbar-toggler::before {
    content: ' ';
    height: 18px;
    width: 1px;
    border-left: 1px solid rgba(42, 51, 79, 1);
    position: absolute;
    top: 15px;
    right: 48px;
  }

  .heading-first {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  .location {
    padding-top: 30px;
    padding-bottom: 60px;
}

.location__table-wrapper {
  width: 375px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  background: none;
  padding-bottom: 0px;
}

.location__map-img {
  display: none;
}

.table th, .table td {
  font-size: 16px;
  line-height: 19px;
  border-top: none;
}

.right-table-wrapper {
  padding-left: 0px;
  width: 345px;
}

.location__table {
  width: 299px !important;
}

.left-table-wrapper {
  background: #FFFFFF;
  border-radius: 10px;
  width: 345px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 21px;
}

.right-table-wrapper {
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 21px;
}

._shadow {
  box-shadow: none;
}

.location__download-btn {
  margin-top: 32px;
  margin-bottom: 32px;
}

.location__download-btn-popup {
  margin-top: 24px;
}

.table__alert {
  margin-bottom: 24px;
  width: 303px;
  height: 64px;
}

.tablet-head-text {
  padding-left: 18px;
}

.change-ip__heading {
  text-align: center;
}

.change-ip__paragraph {
  width: 287px;
  margin-left: auto;
  margin-right: auto;
}

.change-ip {
  padding-top: 30px;
  padding-bottom: 30px;
}

.iframe-wrapper {
  background-image: none;
  width: 345px;
  height: 193px;
}

.video-poster {

  width: 345px;
  height: 193px;
  border-radius: 0px;
  top: 0px;
    left: 0px;
}

.three-steps {
  padding-top: 40px;
  padding-bottom: 0px;
}

.three-steps__heading {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 324px;
}

.video-poster-play-btn {
  width: 28px;
  height: 32px;
  background: url(/img/play-btn.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 81px;
  left: 159px;
}

iframe {
  width: 345px;
  height: 193px;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  z-index: 2;
}

.three-steps__steps-img {
  background-image: url(/img/3-steps-mobile.png);
  background-repeat: no-repeat;
  display: block;
  width: 345px;
  height: 810px;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tablet-head-text {
  margin-bottom: 23px;
}

.hide-data {
  padding-bottom: 70px;
}

.special-price__heading {
  margin-bottom: 40px;
}

.grab__card-five-year {
  width: 345px;
}

.appstore-download {
  display: block;
  width: 180px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
}

.googleplay-download {
  display: block;
  width: 180px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  margin-bottom: 16px;
}

.dns__table-wrapper {
  display: block;
  height: auto;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 56px;
  background: none;
  padding-bottom: 0px;
}

.dns-right-table-wrapper {
  padding-left: 0px;
  width: 345px;
}

._hide-on-mobile {
  display: none;
}

.dns-request {
  margin-left: 0px;
}

.dns-log-parag {
  margin-left: 0px;
}

.dns-table-mobile {
  display: inline-table;
  width: 303px;
}

.webrtc-table-mobile {
  display: inline-table;
  width: 314px;
}

.table td:nth-child(1) {
  padding-left: 0px;
}

.navbar-expand-md .navbar-nav {
  align-items: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}

.navbar-nav > li:last-child {
  align-self: center;
}

.dns-log-parag {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  width: 300px;
}

.dns-info-text {
  width: 300px;
}

.table-value {
  font-weight: bold !important;
}

.dns-left-table-wrapper {
  background-color: white;
  width: 345px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding-right: 0px;
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 22px;
}

.dns-right-table-wrapper {
  background-color: white;
  width: 345px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  margin-top: 16px;
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.close-button {
    left: 337px;
    top: 14px;
}

.left-table-wrapper:after {
  display: none;
}



.dns-pop-up {
  margin-top: 0px;
  position: relative !important;
  padding-bottom: 62px;
  top: -13px;
  z-index: 1000;
  background: #F2F7FD;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}

.webrtc-pop-up {
  margin-top: 0px;
  position: relative !important;
  padding-bottom: 62px;
  top: -13px;
  z-index: 1000;
  background: #F2F7FD;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}

.blur {
  z-index: 999;
  position: absolute;
  width: 100vw;
  height: 754vh;
  background: rgba(0, 0, 0, 0.42);
  backdrop-filter: blur(4px);
}

.location__heading {
  margin-top: 70px;
}





































    .footer__based {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
      }
    
      .footer__copyright {
        text-align: center;
      }
}

@media (min-height: 500px) and (max-height: 740px) {
  .dns-pop-up {
    position: relative !important;
    top: -18px;
    padding-bottom: 62px;
  }

  .webrtc-pop-up {
    position: relative !important;
    top: -18px;
    padding-bottom: 62px;
  }
}