/*FONTS============================================================*/

@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Black.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/css/fonts/ProximaNova-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/*=================================================================*/

/*  COMMON STYLES==================================================*/
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  font-family: "ProximaNova", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.heading-first {
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  color: #2A334F;
}

.paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.main-font {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2A334F;
}
/*=================================================================*/
.header__download-btn {
  width: 220px;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #009B64;
  background: transparent;
  color: #009B64;
  border-radius: 10px;
}

.header_padding {
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__veepn-logo {
  width: 107px;
}

.header {
    height: auto;
    background: #FFFFFF;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid lightgray;
}

.header__navs {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2A334F;
  margin-right: 9px;
}

.header__nav-buttons-wrapper {
  width: 634px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}


@media (min-width: 375px) and (max-width: 767px) {
  .header__download-btn {
    width: 136px;
    height: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    margin-right: 20px !important;
  }

  .header__veepn-logo {
    width: 107px;
    margin-left: 10px;
  }
  .header {
    position: fixed;
    height: auto;
    background: #FFFFFF;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    animation-duration: 200ms;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    position: fixed;
    height: auto;
    background: #FFFFFF;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    animation-duration: 200ms;
  }

  .header__veepn-logo {
    width: 157px;
    margin-left: 10px;
  }

  .header__download-btn {
    margin-top: 10px;
  }
}

